/* TODO: move the specification into the extension lib */
specify {
  -spec-filter    : 'first-child' Specl.filter;
}

/* bootstrapping (this is not IE7 stuff and will be removed)                  */
/* -------------------------------------------------------------------------- */

  body[spec='bootstrapping'] div#test_content div.inner {
    color         : blue;
  }


/* element[attr]                                                              */
/* -------------------------------------------------------------------------- */

  body[spec='element[attr]'] div[attr] div.inner {
    color         : green;
  }


/* element > child                                                            */
/* -------------------------------------------------------------------------- */




/*  background  : url("specl.ie7-tick.png?000"); */
/*  content     : expression('...'); */
