specify {
  -spec-filter      : 'innermost'        Specl.filter;
  -spec-property    : '-local-important' Specl.property;
  -spec-property    : '-local-iconic'    Specl.property;
}

body {
  font              : 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

div {
  color             : #666;
}

div {
  margin            : 2px;
}

div:innermost {
  color             : red;
  -local-important  : 2px orange;
}

ul {
  list-style        : none;
  margin            : 10px 0;
  padding           : 0;
}

ul > li {
  padding-left      : 20px;
}

ul.lame > li.flag_01 {
  background        : url(../example/images/icons/flags/al.png) no-repeat;
}

ul.lame > li.flag_02 {
  background        : url(../example/images/icons/flags/ad.png) no-repeat;
}

ul.sweet > li {
  -local-iconic     : ../example/images/icons/flags;
}
