/* spec css */

/* TODO...

@specify {
  @filter('innermost') {
    $(this.element).find('*').size() === 0;
  }

  @property('-local-important') {
    $(this.element).css({ border: this.args[0] + ' solid ' + this.args[1] });
  }

  @property('-local-iconic', Specl.handler);
}

*/

specify {
  -spec-filter : 'fresnel' foo;
  
/*  -spec-filter    : 'innermost'        $(this.element).find('*').size() === 0;*/
/*  -spec-filter    : 'innermost'        Specl.filter;*/

/*  -spec-property1 : '-local-important' $(this.element).css({ border: this.args[0] + ' solid ' + this.args[1] });*/
  -spec-property1 : '-local-important' Specl.property;
  -spec-property2 : '-local-iconic'    Specl.property;
}

div {
  color             : #666;
  margin            : 2px;
}

div:innermost {
  color             : red;
  -local-important  : 2px orange;
}

ul > li {
  padding-left      : 20px;
}

ul.lame > li.flag_01 {
  background        : url(/images/icons/flags/al.png) no-repeat;
}

ul.lame > li.flag_02 {
  background        : url(/images/icons/flags/ad.png) no-repeat;
}

ul.sweet > li {
  -local-iconic     : /images/icons/flags;
}
